body {
  font-family: "Raleway", sans-serif;
}

.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #a9a9a9;
  padding: 20px 0;
}

.topbar .logo img {
  width: 170px;
}

.topbar .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.topbar .top-social a:link,
.topbar .top-social a:active,
.topbar .top-social a:visited {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 50%;
  margin: 0 3px;
}

.topbar .top-social a:hover {
  color: #909090;
}

.topbar .phone {
  font-size: 30px;
  color: #000;
  line-height: 1;
}

.mainmenu {
  background: #f6f6f6;
}

.mainmenu .nav-item {
  border-right: 1px solid #ccc;
  position: relative;
}

.mainmenu .nav-item.active::after {
  position: absolute;
  bottom: 0;
  height: 3px;
  background: #a36805;
  content: "";
  width: 100%;
}

.mainmenu .nav-item:first-child {
  border-left: 1px solid #ccc;
}

.mainmenu .nav-link {
  color: #000;
  font-size: 15px;
}

.mainmenu .form-control {
  border-radius: 0;
  border: 1px solid transparent;
}

.mainmenu .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mainmenu .search-btn {
  border-radius: 0;
  background: #fff;
  border: 1px solid transparent;
  color: #a36805;
  font-size: 15px;
}

.header__img {
  width: 100%;
}

.header {
  position: relative;
}

.header .btn.cta {
  background-color: #c78516;
  border-color: #c78516;
  border-radius: 2px;
  padding: 1rem;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

.header .btn.cta .fas {
  font-size: 20px;
  margin-left: 10px;
}

.header .btn.cta::before {
  content: "";
  border: 1px solid #fff;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.subheading {
  font-size: 18px;
  font-weight: 500;
  color: #666666;
}

.header__text {
  position: absolute;
  top: 45%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__text h1 {
  font-size: 60px;
  font-weight: 800;
  color: #051b44;
}

.header__text h1 .line2 {
  display: block;
  font-weight: 500;
  font-size: 50px;
}

.section {
  padding: 3rem 0;
}

.section-title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
}

.section-title.small {
  font-size: 23px;
}

.section-subtitle {
  font-weight: 700;
  color: #c78516;
}

/* Custom nav-tabs */
.tab-content {
  display: block;
  border-radius: 0 0 0.25em 0.25em;
}

.tab-content .tab-pane {
  text-align: left;
  padding: 10px 0;
}

.tab-content .tab-pane h3 {
  margin: 0;
}

.cd-breadcrumb {
  margin: 0;
  border-bottom: 0;
  background-color: transparent;
  border-radius: 0.25em 0.25em 0 0;
}

.cd-breadcrumb.nav-tabs > li.active > a,
.cd-breadcrumb.nav-tabs > li.active > a:hover,
.cd-breadcrumb.nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: #c78516;
  border: 0px solid #c78516;
  cursor: default;
}

.cd-breadcrumb.nav-tabs > li > a {
  margin-right: inherit;
  line-height: inherit;
  height: 48px;
  border: inherit;
  border-radius: inherit;
  border-color: #edeff0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cd-breadcrumb li {
  display: inline-block;
  float: left;
  margin: 0.5em 0;
}

.cd-breadcrumb li::after {
  /* this is the separator between items */
  display: inline-block;
  content: "\00bb";
  margin: 0 0.6em;
  color: tint(#c78516, 50%);
}

.cd-breadcrumb li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}

.cd-breadcrumb li > * {
  /* single step */
  display: inline-block;
  font-size: 1.4rem;
  color: #c78516;
}

.cd-breadcrumb li.current > * {
  /* selected step */
  color: #c78516;
}

.cd-breadcrumb a:hover {
  /* steps already visited */
  color: #c78516;
}

.cd-breadcrumb.custom-separator li::after {
  /* replace the default arrow separator with a custom icon */
  content: "";
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.cd-breadcrumb li {
  margin: 1.2em 0;
}

.cd-breadcrumb li::after {
  margin: 0 1em;
}

.cd-breadcrumb li > * {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.cd-breadcrumb.triangle li {
  position: relative;
  padding: 0;
  margin: 0 4px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cd-breadcrumb.triangle li:last-of-type {
  margin-right: 0;
}

.cd-breadcrumb.triangle li .octicon {
  margin-right: 10px;
}

.cd-breadcrumb.triangle li > * {
  position: relative;
  padding: 0.8em 0.8em 0.7em 2.5em;
  color: #333;
  background-color: #edeff0;
  /* the border color is used to style its ::after pseudo-element */
  border-color: #edeff0;
}

.cd-breadcrumb.triangle li.active > * {
  /* selected step */
  color: #ffffff;
  background-color: #c78516;
  border-color: #c78516;
}

.cd-breadcrumb.triangle li:first-of-type > * {
  padding-left: 1.6em;
  border-radius: 4px 0 0 4px;
}

.cd-breadcrumb.triangle li:last-of-type > * {
  padding-right: 1.6em;
  border-radius: 0 0.25em 0.25em 0;
}

.cd-breadcrumb.triangle a:hover {
  /* steps already visited */
  color: #ffffff;
  background-color: #c78516;
  border-color: #c78516;
  text-decoration: none;
}

.cd-breadcrumb.triangle li::after,
.cd-breadcrumb.triangle li > *::after {
  /*
          li > *::after is the colored triangle after each item
          li::after is the white separator between two items
      */
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  content: "";
  height: 0;
  width: 0;
  /* 48px is the height of the <a> element */
  border: 24px solid transparent;
  border-right-width: 0;
  border-left-width: 20px;
}

.cd-breadcrumb.triangle li::after {
  /* this is the white separator between two items */
  z-index: 1;
  -webkit-transform: translate(4px, 0);
  transform: translate(4px, 0);
  border-left-color: #ffffff;
  /* reset style */
  margin: 0;
}

.cd-breadcrumb.triangle li > *::after {
  /* this is the colored triangle after each element */
  z-index: 2;
  border-left-color: inherit;
}

.cd-breadcrumb.triangle li:last-of-type::after,
.cd-breadcrumb.triangle li:last-of-type > *::after {
  /* hide the triangle after the last step */
  display: none;
}

.consult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consult-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-options .custom-control {
  margin-left: 10px;
  line-height: 1.8;
}

.service-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-service {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1%;
}

.btn-service.active {
  background-color: #c78516;
  color: #fff;
}

.service-icon {
  margin-right: 10px;
}

.tab__heading {
  color: #071753;
  font-size: 15px;
  font-weight: 800;
  margin: 10px 0 15px;
}

.steps-btn-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.steps-btn-row .btn.btn-disabled {
  background: #a9a9a9;
  margin-right: 10px;
}

.steps-btn-row .btn {
  background-color: #071753;
  color: #fff;
  font-size: 14px;
}

.case-card {
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
}

.case-card__header {
  background: #051b44;
  color: white;
  padding: 15px;
  text-align: center;
  position: relative;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.case-card__header::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  border: 10px solid #051b44;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}

.case-card__header h2 {
  font-weight: 800;
}

.case-card__header h2 .line2 {
  font-weight: 700;
  font-size: 20px;
  display: block;
}

.case-card__header p {
  font-size: 14px;
  margin-bottom: 0;
}

.case-card__body {
  background: #c78516;
  padding: 35px 15px 15px 15px;
  border-radius: 0 0 8px 8px;
}

.case-card__body .btn {
  background: #051b44;
  border-color: #051b44;
}

.section-review {
  background: #f6f6f6;
  text-align: center;
  position: relative;
}

.section-review .quote {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
}

.section-review .carousel-inner {
  margin: 0 auto;
  width: 75%;
}

.section-review [class*="fa-chevron"] {
  color: #666666;
  font-size: 24px;
}

.rating {
  color: #c78516;
  margin: 30px 0 15px 0;
}

.review__img {
  margin: 15px 0 10px 0;
}

.review__user {
  font-weight: 700;
  font-size: 14px;
}

.footer {
  background: #051b44;
  padding: 40px 0 0 0;
  color: #fff;
}

.footer .cta {
  background: #c78516;
  color: #fff;
}

.footer .copy-row {
  padding: 30px 0;
  border-top: 1px solid #f6f6f6;
}

.footer-logo img {
  max-width: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}

.footer-ul li {
  display: block;
}

.footer-link-title {
  color: #fff;
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-ul {
  font-size: 15px;
  padding-left: 5px;
}

.footer-link:link,
.footer-link:hover {
  color: #fff;
  line-height: 2;
  text-decoration: none;
}

.brands {
  background: #f6f6f6;
  font-weight: 700;
  color: #a9a9a9;
}

.brands .braces {
  font-size: 80px;
  font-weight: 300;
}

.brands .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brands img {
  width: 100px;
}

.copy-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

.copy-row .footer-social {
  margin: 0;
}

.copy-row a,
.copy-row a:hover {
  color: #fff;
  height: 40px;
  width: 40px;
}

.copy-row a.site,
.copy-row a.site:hover {
  color: #c78516;
}

.copy-row .fab {
  color: #c78516;
  font-size: 20px;
}

@media (max-width: 1199px) {
  .btn-service {
    font-size: 11px;
  }
  .btn-service img {
    width: 22px;
  }
}

@media (max-width: 991px) {
  .navbar-toggler {
    font-size: 28px;
  }
  .mainmenu .nav-item {
    border: 0;
  }
  .mainmenu .nav-item:first-child {
    border-left: 0;
  }
}

@media (max-width: 767px) {
  .topbar .top-social {
    display: none;
  }
  .topbar .call {
    font-size: 15px;
  }
  .topbar .call__icon img {
    width: 40px;
    margin-right: 5px;
  }
  .topbar .phone {
    font-size: 24px;
  }
  .topbar .logo img {
    width: 120px;
  }
  .mainmenu .form-control {
    width: 78%;
  }
  .header__text {
    display: none;
  }
  .footer-logo img {
    max-width: 90%;
  }
  .brands {
    padding: 15px;
  }
  .brands .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .consult {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .consult-options .custom-control {
    margin: 10px 10px 0 0;
  }
  .cd-breadcrumb {
    display: none;
  }
  .btn-service {
    width: 49%;
  }
}
/*# sourceMappingURL=style.css.map */